@page "/parents"
@using Volo.Abp.Application.Dtos
@using Abp.Pschool.Parents
@using Abp.Pschool.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<PschoolResource> L
@inherits AbpCrudPageBase<IParentAppService, ParentDto, Guid, PagedAndSortedResultRequestDto, CreateUpdateParentDto>

<Card>
    <CardHeader>
        <h2>@L["Parents"]</h2>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ParentDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn TItem="ParentDto"
                                Field="@nameof(ParentDto.FirstName)"
                                Caption="@L["FirstName"]"></DataGridColumn>
                <DataGridColumn TItem="ParentDto"
                                Field="@nameof(ParentDto.LastName)"
                                Caption="@L["LastName"]"></DataGridColumn>
                <DataGridColumn TItem="ParentDto"
                                Field="@nameof(ParentDto.Phone)"
                                Caption="@L["Phone"]"></DataGridColumn>
                <DataGridColumn TItem="ParentDto"
                                Field="@nameof(ParentDto.Email)"
                                Caption="@L["Email"]">
                </DataGridColumn>
                <DataGridColumn TItem="ParentDto"
                                Field="@nameof(ParentDto.HomeAddress)"
                                Caption="@L["HomeAddress"]"></DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@code
{
}